<div class="inline-form">
    <div class="inline-form-column">
        <div class="inline-form">
            <label class="new-password-label" for="changePasswordOldInput">Old password:</label>
            <input id="changePasswordOldInput" class="stretch-input" type="password"
                   maxlength="200">
        </div>
        <div class="inline-form">
            <label class="new-password-label" for="changePasswordNewInput">New password:</label>
            <input id="changePasswordNewInput" class="stretch-input" type="password"
                   maxlength="200">
        </div>
    </div>
    <button id="changePasswordApplyButton" onclick="changePasswordApplyHandler()">Apply</button>
</div>
