<p>Enter a new secret:</p>
<div class="inline-form">
    <div class="inline-form-column">
        <div class="inline-form">
            <label class="secret-label" for="secretInput">Secret:</label>
            <input id="secretInput" class="stretch-input" type="text">
        </div>
        <div class="inline-form">
            <label class="secret-label" for="nameInput">Name:</label>
            <input id="nameInput" class="stretch-input" type="text">
        </div>
    </div>

    <button id="addSecretButton" onclick="addSecretHandler()">Add</button>

    <button id="addSecretQRButton" onclick="addSecretQRHandler()">Add QR</button>
</div>

<p id="messageParagraph"></p>

<div class="inline-form with-margin">
    <button id="changePasswordButton" onclick="changePasswordHandler()">Change password</button>
</div>
<div class="inline-form">
    <div id="changePasswordDiv"></div>
</div>

<div>
    <hr>

</div>

<div id="rowsDiv"></div>

