<p>Enter a new secret:</p>
<label for="secretInput">Secret</label>
<input id="secretInput" type="text">
<br><br>
<label for="nameInput">Name</label>
<input id="nameInput" type="text">
<br><br>
<button id="addSecretButton" onclick="addSecretHandler()">Add</button>

<button id="addSecretQRButton" onclick="addSecretQRHandler()">Add QR</button>

<br><br>
<button id="changePasswordButton" onclick="changePasswordHandler()">Change password</button>
<div id="changePasswordDiv"></div>
<br><br>

<p id="messageParagraph"></p>

<hr>

<div id="rowsDiv"></div>

